body {
    font-family: Arial, sans-serif;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    margin-bottom: 10px;
    border-radius: 5px;
}

button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}